

body{
  background-color: #CBE4DE;
  padding: auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  font-style: italic;
  text-align: center;
  
}

#block
{
   width: 400px;
   height: 300px;
   margin: 0 auto;
   
   padding: 2px;
   padding-top: 10px;
   padding-right: 16px;
   padding-bottom: 10px;
   padding-left: 16px;
   justify-items: center;
   text-align: center;
   display: flex;
}



.container {
  width: 400px;
  height: 350px;
  text-align: center;
}

.terminal_toolbar {
  display: flex;
  height: 30px;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #0b9917;
  justify-content: center;
}

.butt {
  display: flex;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-right: 5px;
  font-size: 30px;
  height: 12px;
  width: 12px;
  box-sizing: border-box;
  border: none;
  border-radius: 100%;
  background: linear-gradient(#7d7871 0%, #595953 100%);
  text-shadow: 0px 1px 0px rgba(191, 211, 7, 0.2);
  box-shadow: 0px 0px 1px 0px #d4e20a, 0px 1px 1px 0px #bce40c;
}

.btn-color {
  background: #1aee36;
}

.btn:hover {
  cursor: pointer;
}







.user {
  color: #82e70d;
  margin-left: 0px;
  font-size: 16px;
  line-height: 15px;
}

.terminal_body {
  background: rgba(0, 0, 0, 0.9);
  height: calc(100% - 30px);
  padding-top: 2px;
  margin-top: 0px;
  font-size: 12px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.terminal_promt {
  display: flex;
}

.terminal_promt span {
  margin-left: 4px;
}

.terminal_user {
  color: #1eff8e;
  font-size: 24px;
}



.terminal_bling {
  color: #10bd52;
  font-size: 22px;
}

.terminal_cursor {
  display: block;
  height: 14px;
  width: 14px;
  margin-left: 10px;
  animation: curbl 1200ms linear infinite;
}



button {
  background-color: #659c6ea1;
  border-radius: 14px;
  color: #25f552;
  cursor: pointer;
  padding: 15px 20px;
  font-size: 12px;
  font-weight: bold;
  border: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 
 button:hover {
  background-image: linear-gradient(90deg, #53cbef 0%, #dcc66c 50%, #ffa3b6 75%, #53cbef 100%);
  animation: slidernbw 5s linear infinite;
  color: #000;
 }
 




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
